:root {
    --bg: #000000;
    --text: #F7F4E9;
    --link-hover: #5626C4;
    --banner:#181818;
    --link:#2CCCC3;
    --pink:#E60576;
    --yellow:#FACD3D;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    color: var(--text);
    background-color: var(--bg);
}

p {
    font-size: 2vh;
    font
}

.h2 {
    font-size: 2.5vh;
}

/* Top Nav Bar */
.header {
    position: fixed;
    background-color: var(--bg);
}
  
.right {
    float: right;
}
  
a.title {
    text-transform: none;
}
/* Top Nav Bar */

/* Top Banner */
.banner {
    margin-top: 34px;
    text-align: center;
    min-height:10vh;
    background-color: var(--banner);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* Top Banner */

/* Tile Content */
.tile {
    text-align: center;
    min-height:5vh;
}
  
.tilesplit {
    height: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
  
.centered-box {
    padding: 5vw;
    text-align: left;
}
/* Tile Content */

/* Links/Selection */
::selection {
    color: var(--bg);
    background: var(--link-hover);
    text-decoration: none;
}
  
a:hover {
    color:var(--link-hover);
    text-decoration: none;
}
  
a {
    text-decoration: none;
    color: var(--link);
}
  
a.top-bar {
    color: var(--text);
}
  
a.top-bar:hover {
    color:var(--link-hover);
}
/* Links */

video {
    /* override other styles to make responsive */
    width: 90vw    !important;
    height: 50vh   !important;
    object-fit: cover;
    margin-left: 5vw;
  }